html {
    margin:0;
    padding:0;
}
body{
    background:#d4d4d4;
    margin:0;
    padding:0;
}
error{display:block;font-family:Arial;font-size:11px;font-weight:normal;color:#a57e7e;}
.textcenter{text-align:center;}
/* Модальное окно */
.ModalBackground{position:fixed;display:none;width:100%;height:100%;background:url(/content/images/ModalBackground.png);z-index:1000000;}
.ModalWindow{
    position:absolute;
    display:none;
    left:50%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:url(/content/images/ModalWindow.png);
    z-index:10000000;
    padding:6px;
}
.ModalWindow .Close{
    position:relative;
    float:right;
    background:url(/content/images/close.png);
    display:block;
    height:12px;
    width:12px;
    cursor:pointer;
    margin-top:-10px;
    margin-right:-10px;
}
.ModalWindow .Container{
    width:100%;
    height:100%;
    background:#FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.ModalWindow .Container .TitleContainer{
    background:#2a3456;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    width:100%;
}
.ModalWindow .Container .Title{
    padding:5px;
    color:#FFF;
    font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:16px;
    cursor:default;
}
.ModalWindow .Container .Data{
    color:#2a3456;
    font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size:16px;
    cursor:default;
}
.ModalWindow .Container .Data input{outline:0;background:#FFF;border:1px solid #dbdbdb;}
.ModalWindow .Container .Data .Button{
	
	float:right;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.ModalWindow .Container .Data .Button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.ModalWindow .Container .Data .Button:active {
	position:relative;
	top:1px;
}
/* End - Модальное окно */
.Line1{
    display:block;
    width:100%;
    height:30px;
    background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #2b2b2b 93%, #000000 98%, #7f7f7f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(93%,#2b2b2b), color-stop(98%,#000000), color-stop(100%,#7f7f7f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000000 0%,#2b2b2b 93%,#000000 98%,#7f7f7f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000000 0%,#2b2b2b 93%,#000000 98%,#7f7f7f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000000 0%,#2b2b2b 93%,#000000 98%,#7f7f7f 100%); /* IE10+ */
	background: linear-gradient(top, #000000 0%,#2b2b2b 93%,#000000 98%,#7f7f7f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
}
.Line2 .MenuVertical{
	width:200px;
	float:left;
	display:none;
}
.Line2 .MenuVertical .Item{
	display:block;
	padding:4px 15px 4px 15px;
	color:#0E0E0E;
    font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;
    background:#FFF;
    -moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin:5px;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(234, 234, 234, 0.7);
	-moz-box-shadow: 1px 1px 3px 1px rgba(234, 234, 234, 0.7);
	box-shadow: 1px 1px 3px 1px rgba(234, 234, 234, 0.7);
}
.Line2 .Content{
	display:block;
	margin:0 auto;
	width:700px;
	padding-top:10px;
}
.Line2 .Content .Button{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:5px 14px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	cursor:pointer;
}
.Line2 .Content .Button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.Line2 .Content .Button:active {
	position:relative;
	top:1px;
}
.Line1 .Content{display:block;width:1000px;margin:0 auto;}
.Line1 .Logo{
    float:left;
    margin-left:10px;
    color:white;
	font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-shadow: 1px 1px 3px #aaaaaa;
	filter: dropshadow(color=#aaaaaa, offx=1, offy=1);
}
.Line1 .Content .Bar{
    float:right;
    margin-top:30px;
    height:40px;
    color:#FFF;
    font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:18px;
    cursor:default;
}
.Line1 .Content .Bar input.Email{
    width:180px;
	height:20px;
	padding-left:2px;
	margin:0px;
	font-family:Arial;
	font-size:12px;
	outline:0;
	border:1px solid black;
	background:#FFF;
}
.Line1 .Content .Bar .Button{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.Line1 .Content .Bar .Button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.Line1 .Content .Bar .Button:active {
	position:relative;
	top:1px;
}
.Line2{
    display:block;
    width:100%;
    min-height:565px;
    background:url(/content/images/Line2Gradient.png) repeat-x;
}
.Line2Back{background:url(/content/images/Line2Gradient.png) repeat-x;}
.Line2BackUser{
    background:#d4d4d4;
    background-image: linear-gradient(bottom, rgb(212,212,212) 16%, rgb(250,250,250) 100%);
    background-image: -o-linear-gradient(bottom, rgb(212,212,212) 16%, rgb(250,250,250) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(212,212,212) 16%, rgb(250,250,250) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 16%, rgb(250,250,250) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(212,212,212) 16%, rgb(250,250,250) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left 80,
        color-stop(0.16, rgb(212,212,212)),
        color-stop(1, rgb(250,250,250))
    );
}
.Content2Back{background:url(/content/images/world-map.png) no-repeat;}
.Line2 .Content .Welcome{
    float:left;
    width:600px;
    margin-top:100px;
    color:#2a3456;
    font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:18px;
    cursor:default;
}
.Line2 .Content .Welcome .text{
    font-weight:normal;
    font-size:16px;
}
.Line2 .Content .QuickRegister{
    float:right;
    width:300px;
    margin-top:100px;
    color:#2a3456;
    font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:18px;
    cursor:default;
}
.Line2 .Content .QuickRegister input.inputtext{
    width:250px;
	height:20px;
	padding:5px;
	margin:0px;
	font-family:Arial;
	font-size:12px;
	outline:0;
	background:#FFF;
	border:1px solid #dbdbdb;
}
.Line2 .Content .QuickRegister input.inputbutton{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	width:265px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.Line2 .Content .QuickRegister input.inputbutton:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.Line2 .Content .QuickRegister input.inputbutton:active{
	position:relative;
	top:1px;
}
.Line3{
    display:block;
    width:100%;
    height:30px;
    background:#FFF;
	-webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
}/*
.Line3 .Content{display:block;width:1000px;margin:0 auto;}
.Line3 .Content .FooterMenu{
    margin-top:5px 0 0 55px;
    float:left;
    color:#72adc9;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	cursor:default;
}
.Line3 .Content .FooterMenu .item:hover{text-decoration:underline;}
.Line3 .Content .FooterMenu .item{margin-right:3px;}
.Line3 .Content .Footer{
    margin:5px 55px 0 0;
    float:right;
    color:#777777;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	cursor:default;
}*/
.HeajdLine{
    position:absolute;
    left:50%;
    top:10px;
    margin-left:-500px;
    width:1000px;
    height:50px;
    background: #62abc7; /* Old browsers */
    background: -moz-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62abc7', endColorstr='#62abc7',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C */
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 40px;
    -webkit-border-radius: 10px 40px 10px 40px;
    border-radius: 10px 40px 10px 40px;
}
.HeadLine .Logo{
    position:absolute;
    left:20px;
    top:5px;
    width:200px;
    height:40px;
    background:url(/content/images/logo.png);
}
.HeadLine .Logout:hover{background:#1e4677;}
.HeadLine .Logout{display:none;
    position:absolute;
    display:none;
    right:10px;
    top:5px;
    width:50px;
    height:20px;
    background:#345884;
    color:#FFF;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    text-shadow: 1px 1px 2px #b9b9b9;
    filter: dropshadow(color=#b9b9b9, offx=1, offy=1);
    cursor:pointer;
    padding:10px 25px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 40px 10px 10px;
    border-radius: 10px 40px 10px 10px;
}
.WelcomeScreen{
    position:absolute;
    left:50%;
    top:60px;
    margin-left:-480px;
    width:960px;
    min-height:100px;
}
.WelcomeScreen .Slogan1{
    position:relative;
    top:10px;
    left:20px;
    color:#fff;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:30px;
    text-shadow: 1px 1px 1px #cfe0ff;
    filter: dropshadow(color=#cfe0ff, offx=1, offy=1);
    cursor:default;
}
.WelcomeScreen .Company{
    position:relative;
    top:15px;
    left:20px;
    width:940px;
    height:180px;
    background: #62abc7; /* Old browsers */
    background: -moz-linear-gradient(left, #b3dced 0%, #55C2E0 50%, #bce0ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b3dced), color-stop(50%,#55C2E0), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #b3dced 0%,#55C2E0 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #b3dced 0%,#55C2E0 50%,#bce0ee 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #b3dced 0%,#55C2E0 50%,#bce0ee 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62abc7', endColorstr='#62abc7',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, #b3dced 0%,#55C2E0 50%,#bce0ee 100%); /* W3C */
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 40px;
    -webkit-border-radius: 10px 40px 10px 40px;
    border-radius: 10px 40px 10px 40px;
}
.WelcomeScreen .Slogan2{
    position:relative;
    top:20px;
    left:700px;
    width:230px;
    color:#fff;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:30px;
    text-shadow: 1px 1px 1px #cfe0ff;
    filter: dropshadow(color=#cfe0ff, offx=1, offy=1);
    cursor:default;
}
.WelcomeScreen .Worker{
    position:relative;
    top:25px;
    left:20px;
    width:940px;
    height:180px;
    background: #62abc7; /* Old browsers */
    background: -moz-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62abc7', endColorstr='#62abc7',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C */
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 40px;
    -webkit-border-radius: 10px 40px 10px 40px;
    border-radius: 10px 40px 10px 40px;
}
.href:hover{color:#1e4677;}
.href{
    text-decoration:underline;
    color:#345884;
    cursor:pointer;
}
/* Меню неавторизованных */
.Menu{
    position:absolute;
    display:none;
    left:50%;
    top:70px;
    margin-left:-500px;
    width:1000px;
    min-height:190px;
    background:#f4f4f4;
    background:rgba(255,255,255,0.7);
}
.Menu .Login:hover{background:#5ecf6e;background:rgba(94,207,110,0.9);}
.Menu .Login{
    position:absolute;
    left:20px;
    top:10px;
    width:80px;
    height:30px;
    background:#3bad4b;
    background:rgba(59,173,75,0.9);
    padding:70px 65px;
}
.Menu .Register:hover{background:#eebc75;background:rgba(238,188,117,0.9);}
.Menu .Register{
    position:absolute;
    left:240px;
    top:10px;
    width:216px;
    height:30px;
    background:#d9993d;
    background:rgba(217,153,61,0.9);
    padding:70px 17px;
}
.Menu .About:hover{background:#d985da;background:rgba(217,133,218,0.9);}
.Menu .About{
    position:absolute;
    left:500px;
    top:10px;
    width:80px;
    height:30px;
    background:#c152c2;
    background:rgba(193,82,194,0.9);
    padding:70px 65px;
}
.Menu .Contact:hover{background:#bc80df;background:rgba(188,128,223,0.9);}
.Menu .Contact{
    position:absolute;
    left:720px;
    top:10px;
    width:110px;
    height:30px;
    background:#964ebf;
    background:rgba(150,78,191,0.9);
    padding:70px 75px;
}
.Menu .Button{
    color:#FFF;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-shadow: 1px 1px 2px #b9b9b9;
    filter: dropshadow(color=#b9b9b9, offx=1, offy=1);
    cursor:pointer;
}
.Menu .Data{
    position:absolute;
    display:none;
    top:200px;
    width:1000px;
    min-height:0px;
    background:#f4f4f4;
    background:rgba(255,255,255,0.7);
}
.Menu .Data .Title{
    margin-left:20px;
    margin-top:10px;
    color:#919191;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-shadow: 1px 1px 2px #e4e1e5;
    filter: dropshadow(color=#e4e1e5, offx=1, offy=1);
    cursor:default;
}
.Menu .Data .Container{
    margin-left:20px;
    margin-top:10px;
    font-family:Arial;
	font-size:16px;
	cursor:default;
}
.Menu .Data .Container .Tit{
    color:#757575;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:16px;
    text-shadow: 1px 1px 3px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    cursor:default;
}
.Menu .Data .Container input{
    width:348px;
	height:30px;
	padding-left:2px;
	margin:0px;
	font-family:Arial;
	font-size:20px;
	outline:0;
	border:0;
	background:#FFF;
}
.Menu .Data .Container .Butt{
    color:#FFF;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-shadow: 1px 1px 2px #b9b9b9;
    filter: dropshadow(color=#b9b9b9, offx=1, offy=1);
    cursor:pointer;
}
.Menu .Data .Container .Butt.Enter:hover{background:#5ecf6e;background:rgba(94,207,110,0.9);}
.Menu .Data .Container .Butt.Enter{
    width:80px;
    height:30px;
    background:#3bad4b;
    background:rgba(59,173,75,0.9);
    padding:33px 65px;
    margin-top:27px;
}
.Menu .Data .Container .Butt.Reg:hover{background:#eebc75;background:rgba(238,188,117,0.9);}
.Menu .Data .Container .Butt.Reg{
    width:261px;
    height:25px;
    background:#d9993d;
    background:rgba(217,153,61,0.9);
    padding:10px 45px;
}
.UserMenu .Data .Container .error{font-family:Arial;font-size:11px;color:#a57e7e;}
/* Конец - Меню неавторизованных */

/* Меню авторизованных */
.UserMenu{
    position:absolute;
    display:none;
    left:50%;
    top:70px;
    margin-left:-500px;
    width:1000px;
    min-height:380px;
    background:#f4f4f4;
    background:rgba(255,255,255,0.7);
}
.UserMenu .Cabinet:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Cabinet{
    position:absolute;
    left:20px;
    top:10px;
    width:210px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Clients:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Clients{
    position:absolute;
    left:20px;
    top:190px;
    width:210px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Users:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Users{
    position:absolute;
    left:240px;
    top:10px;
    width:250px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Documents:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Documents{
    position:absolute;
    left:240px;
    top:190px;
    width:250px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Skladi:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Skladi{
    position:absolute;
    left:500px;
    top:10px;
    width:210px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Kassi:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Kassi{
    position:absolute;
    left:500px;
    top:190px;
    width:210px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Nomenklatura:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Nomenklatura{
    position:absolute;
    left:720px;
    top:10px;
    width:260px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Otcheti:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Otcheti{
    position:absolute;
    left:720px;
    top:190px;
    width:260px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Ceni:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Ceni{
    position:absolute;
    display:none;
    left:500px;
    top:190px;
    width:210px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .Valuti:hover{background:#3867a7;background:rgba(56,103,167,0.9);}
.UserMenu .Valuti{
    position:absolute;
    display:none;
    left:720px;
    top:190px;
    width:260px;
    height:170px;
    background:#144990;
    background:rgba(20,73,144,0.9);
}
.UserMenu .UserButton{
    color:#FFF;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-shadow: 1px 1px 1px #728db3;
    filter: dropshadow(color=#728db3, offx=1, offy=1);
    cursor:pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.UserMenu .Data{
    position:absolute;
    display:none;
    top:200px;
    width:1000px;
    min-height:0px;
    background:#f4f4f4;
    background:rgba(255,255,255,0.7);
}
.UserMenu .Data .Title{
    margin-left:20px;
    margin-top:10px;
    color:#919191;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-shadow: 1px 1px 2px #e4e1e5;
    filter: dropshadow(color=#e4e1e5, offx=1, offy=1);
    cursor:default;
}
.UserMenu .Data .ButtonAddUser:hover{background:#3867a7;}
.UserMenu .Data .ButtonAddUser{
    position:absolute;
    right:10px;
    top:5px;
    width:80px;
    height:30px;
    background:#144990;
    color:#FFF;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    text-shadow: 1px 1px 2px #b9b9b9;
    filter: dropshadow(color=#b9b9b9, offx=1, offy=1);
    cursor:pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.UserMenu .Data .ButtonAddDoc:hover{background:#3867a7;}
.UserMenu .Data .ButtonAddDoc{
    position:absolute;
    right:10px;
    top:5px;
    width:150px;
    height:30px;
    background:#144990;
    color:#FFF;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    text-shadow: 1px 1px 2px #b9b9b9;
    filter: dropshadow(color=#b9b9b9, offx=1, offy=1);
    cursor:pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.UserMenu .Data .Container{
    margin-left:20px;
    margin-top:10px;
    font-family:Arial;
	font-size:16px;
	cursor:default;
}
.UserMenu .Data .Container .Exchange{
    width:200px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	float:left;
}
.UserMenu .Data .Container .ExchangeValue{
    width:70px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}
.UserMenu .Data .Container .FirmsListNum{
    width:20px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	float:left;
}
.UserMenu .Data .Container .FirmsListName{
    width:300px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}
.UserMenu .Data .Container .FirmsListStatus{
    width:15px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}
.UserMenu .Data .Container .NoPhoto{
    width:100px;
    height:100px;
    background:#abbdd6;
    cursor:default;
    color:#FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.UserMenu .Data .Container .PersonalName{
    color:#424242;
    font-family:Arial;
	font-size:16px;
	cursor:default;
}
.UserMenu .Data .Container .PersonalLogon{
    color:#424242;
    font-family:Arial;
	font-size:12px;
	cursor:default;
} 
.UserMenu .Data .Container .ButtonPersonalEdit:hover{background:#3867a7;}
.UserMenu .Data .Container .ButtonPersonalEdit{
    width:150px;
    margin-top:28px;
    background:#144990;
    cursor:pointer;
    color:#FFF;
    padding:5px 5px;
    font-family:Arial;
	font-size:12px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.UserMenu .Data .Container .ButtonPersonalAddFirm:hover{background:#3867a7;}
.UserMenu .Data .Container .ButtonPersonalAddFirm{
    width:128px;
    background:#144990;
    cursor:pointer;
    color:#FFF;
    padding:5px 5px;
    font-family:Arial;
	font-size:12px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float:left;
}
.UserMenu .Data .Container .ButtonPersonalAdd:hover{background:#3867a7;}
.UserMenu .Data .Container .ButtonPersonalAdd{
    width:55px;
    background:#144990;
    cursor:pointer;
    color:#FFF;
    padding:5px 5px;
    font-family:Arial;
	font-size:12px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float:left;
    margin-left:10px;
}
.UserMenu .Data .Container .ButtonPersonalSave:hover{background:#3867a7;}
.UserMenu .Data .Container .ButtonPersonalSave{
    width:65px;
    background:#144990;
    cursor:pointer;
    color:#FFF;
    padding:5px 5px;
    font-family:Arial;
	font-size:12px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float:left;
    margin-left:10px;
}
.UserMenu .Data .Container .ButtonPersonalCancel:hover{background:#a73838;}
.UserMenu .Data .Container .ButtonPersonalCancel{
    width:45px;
    background:#901414;
    cursor:pointer;
    color:#FFF;
    padding:5px 5px;
    font-family:Arial;
	font-size:12px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float:left;
    margin-left:10px;
}
.UserMenu .Data .Container .Tit{
    color:#757575;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:16px;
    text-shadow: 1px 1px 3px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    cursor:default;
}
.UserMenu .Data .Container .TitSmall{
    color:#757575;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:16px;
    cursor:default;
}
.UserMenu .Data .Container input{
    width:348px;
	height:30px;
	padding-left:2px;
	margin:0px;
	font-family:Arial;
	font-size:20px;
	outline:0;
	border:1px solid #dee6f1;
	background:#FFF;
	margin-left:3px;
}
.UserMenu .Data .Container .Butt{
    color:#FFF;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:25px;
    text-shadow: 1px 1px 2px #b9b9b9;
    filter: dropshadow(color=#b9b9b9, offx=1, offy=1);
    cursor:pointer;
}
.UserMenu .Data .Container .Butt.Enter:hover{background:#5ecf6e;background:rgba(94,207,110,0.9);}
.UserMenu .Data .Container .Butt.Enter{
    width:80px;
    height:30px;
    background:#3bad4b;
    background:rgba(59,173,75,0.9);
    padding:33px 65px;
    margin-top:27px;
}
.UserMenu .Data .Container .Butt.Reg:hover{background:#eebc75;background:rgba(238,188,117,0.9);}
.UserMenu .Data .Container .Butt.Reg{
    width:261px;
    height:25px;
    background:#d9993d;
    background:rgba(217,153,61,0.9);
    padding:10px 45px;
}
.clear{display:block;width:100px;height:30px;}
/* Конец - Меню авторизованных */

/* RateTypes */
.UserMenu .Data .Container .RateTypesListNum{
    width:20px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	float:left;
}
.UserMenu .Data .Container .RateTypesListName{
    width:300px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}
.UserMenu .Data .Container .RateTypesListDelete{
    width:16px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:pointer;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}
/* End - RateTypes */

/* Stores */
.UserMenu .Data .Container .StoresListNum{
    width:20px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	float:left;
}
.UserMenu .Data .Container .StoresListName{
    width:300px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}
.UserMenu .Data .Container .StoresListAddress{
    width:250px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}
.UserMenu .Data .Container .StoresListPhones{
    width:230px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:default;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}
.UserMenu .Data .Container .StoresListDelete{
    width:16px;
    height:15px;
    background:#6e9ec6;
    color:#FFF;
    font-family:Arial;
	font-size:12px;
	cursor:pointer;
	padding:5px;
	margin-bottom:2px;
	margin-left:2px;
	float:left;
}

.DivLeft{
    float:left;
    width:250px;
    height:545px;
    background: rgb(208,228,247); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 20%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(208,228,247,1)), color-stop(20%,rgba(115,177,231,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 20%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 20%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 20%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 20%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
    -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}
/* End - Stores */