
.LoginBlock{
    display:block;
    position:absolute;
    left:50%;
    margin-left:300px;
    width:200px;
    height:200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    background-image: linear-gradient(left bottom, rgb(126,38,227) 6%, rgb(120,120,214) 53%, rgb(132,110,204) 77%, rgb(185,160,255) 89%, rgb(210,194,255) 95%, rgb(188,162,235) 98%);
    background-image: -o-linear-gradient(left bottom, rgb(126,38,227) 6%, rgb(120,120,214) 53%, rgb(132,110,204) 77%, rgb(185,160,255) 89%, rgb(210,194,255) 95%, rgb(188,162,235) 98%);
    background-image: -moz-linear-gradient(left bottom, rgb(126,38,227) 6%, rgb(120,120,214) 53%, rgb(132,110,204) 77%, rgb(185,160,255) 89%, rgb(210,194,255) 95%, rgb(188,162,235) 98%);
    background-image: -webkit-linear-gradient(left bottom, rgb(126,38,227) 6%, rgb(120,120,214) 53%, rgb(132,110,204) 77%, rgb(185,160,255) 89%, rgb(210,194,255) 95%, rgb(188,162,235) 98%);
    background-image: -ms-linear-gradient(left bottom, rgb(126,38,227) 6%, rgb(120,120,214) 53%, rgb(132,110,204) 77%, rgb(185,160,255) 89%, rgb(210,194,255) 95%, rgb(188,162,235) 98%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.06, rgb(126,38,227)),
            color-stop(0.53, rgb(120,120,214)),
            color-stop(0.77, rgb(132,110,204)),
            color-stop(0.89, rgb(185,160,255)),
            color-stop(0.95, rgb(210,194,255)),
            color-stop(0.98, rgb(188,162,235))
    );
    z-index:1;
}
.LoginBlockOver{
    display:block;
    position:absolute;
    left:50%;
    top:3px;
    margin-left:303px;
    width:200px;
    height:200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    background:rgba(0,0,0,0.2);
    z-index:2;
}