/* 
    Document   : office
    Created on : 25.01.2012, 3:33:32
    Author     : Mihael
    Description:
        Purpose of the stylesheet follows.
*/
.pages{
    display:none;
    height:100%;
    height:100%;
}

.page{
    display:none;
    height:100%;
    height:500px;
}
.page .left{
    float:left;
    width:200px;
}
.page .title.center{
    width:100%;
    text-align:center;
}
.page .title{
    font-family:segoeui;
    font-size:25px;
    color:#FFF;
    margin:0;
    padding:8px 0 0 20px;
    height:40px;
    border-bottom:1px solid rgba(255,255,255,0.2);
}
.page .left ul{
    display:block;
    margin:0;
    padding:10px 0 0 0;
    list-style:none;
    color:#FFF;
    font-family:segoeui;
    font-size:14px;
}
.page .left ul li.active{
    border-left:2px solid rgba(243,243,243,0.85);
    cursor:default;
}
.page .left ul li:hover{
    background:rgba(0,0,0,0.4);
    cursor:pointer;
}
.page .left ul li{
    border-left:2px solid transparent;
    padding: 5px 0 5px 10px;
}
.page .right{
    margin:0 0 10px 200px;
    background-color:rgba(250,250,250,0.6);
    height:100%;
    overflow:hidden;
}

.page .right .verticalScroll{
    display:block;
    position:relative;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    overflow:hidden;
    background:red;
}

.page .right .horisontalScroll{
    display:block;
    position:relative;
    width:0px;
    height:0px;
    overflow-x:hidden;
    overflow-y:auto;
}

.page .right .horisontalScroll .item{
    display:block;
    float:left;
    width:100px;
    height:100%;
    background:rgba(255,255,255,0.6);
}

.page .right .horisontalScroll .el1{background:red;left:0px;}
.page .right .horisontalScroll .el2{background:green;left:100%;}
.page .right .horisontalScroll .el3{background:blueviolet;left:200%;}

.page .right ul.topMenu{
    display:block;
    width:100%;
    height:42px;
    list-style:none;
    padding:0;
    margin:0;
    background:rgba(0,0,0,0.3);
}

.page .right ul.topMenu li.active{
    border-bottom:2px solid #FFF;
    background:rgba(0,0,0,0.6);
    cursor:default;
}
.page .right ul.topMenu li:hover{
    background:rgba(0,0,0,0.6);
    cursor:pointer;
}
.page .right ul.topMenu li{
    display:block;
    float:left;
    min-width:100px;
    padding:5px 10px;
    margin:5px 10px;
    border-bottom:2px solid transparent;
    background:rgba(0,0,0,0.1);
    font-family:segoeui;
    color:#FFF;
    text-align:center;
}

.page .right .verticalScroll .verticalItem{
    display:block;
    height:0px;
    width:100%;
    overflow:hidden;
}
.footer{
    display:none;
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    clear:both;
    color:#EEEEEE;
    text-align:center;
    padding:10px 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



/* Tasks */
.page .right .planned{
    display:block;
    float:left;
    width:33%;
    height:100%;
    background:rgba(119,207,229,0.4);
    overflow:hidden;
}
.page .right .current{
    display:block;
    float:left;
    width:34%;
    height:100%;
    background:rgba(225,229,119,0.4);
    overflow:hidden;
}
.page .right .completed{
    display:block;
    float:left;
    width:33%;
    height:100%;
    background:rgba(119,229,140,0.4);
    overflow:hidden;
}
.page .right .data{
    display:block;
    width:100%;
    overflow-y: auto;
    overflow-x:hidden;
    height:90%;
}
.page .right .task{
    display:block;
    float:left;
    width:100px;
    height:100px;
    background:rgba(255,255,255,0.6);
    cursor:default;
    margin:5px;
    padding:10px 5px 5px 5px;
}
.page .right .task .text{
    font-family:segoeui;
    font-size:12px;
    border:1px solid rgba(243,243,243,0.4);
    cursor:default;
}
.page .right .task .text textarea{
    width:90px;
    height:85px;
    outline:none;
    resize:none;
    font-family:segoeui;
    font-size:12px;
    background:rgba(255,255,255,0.4);
    border:1px solid rgba(243,243,243,0.4);
    cursor:default;
}