@font-face {
	font-family: segoeui;
	src: url('/content/fonts/segoeui.ttf');
}
body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background: url(/content/images/background/grass.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mainData{
    display: block;
    width:100%;
    min-height:100%;
}
.central{
    display:block;
    width:100%;
    min-height:0px;
    margin:0 auto;
}
.head{
    width:100%;
    height:100px;    
}
.loginForm{
    display:block;
    position:relative;
    margin:0 auto;
    top:-400px;
    width:400px;
}
.loginForm .logo{
    position:relative;
    font-family:segoeui;
    font-size:60px;
    text-align:center;
    color:#FFFFFF;
    background:rgba(255,255,255,0.5);
    width:400px;
    height:94px;
}
.loginForm form{
    display:none;
    width:400px;
    margin:0 auto;
    font-family:Arial, sans-serif;
    color:#FFF;
    background:rgba(255,255,255,0.3);
}
.loginForm form .title{
    display:block;
    text-align:center;
    padding:5px 0;
    color:#FFF;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    cursor:default;
}
.loginForm form table{
    pading:0;
    width:100%;
}
.loginForm form table td.left{text-align:left;}
.loginForm form table td.right{text-align:right;}
.loginForm form input{
    width:250px;
    outline:none;
    border:1px solid #b6b6b6;
    padding:2px 5px;
    background:rgba(255,255,255,0.9);
}
.loginForm form .info{
    display:block;
    font-size:10px;
    font-weight:bold;
    font-family:Arial, sans-serif;
    color:#a90000;
}
.loginForm form .buttonsArea{
    padding:10px 0;
    text-align:center;
}
.loginForm .buttonEnter:hover{background:rgba(255,255,255,0.6);}
.loginForm .buttonEnter{
    padding:5px 20px;
    background:rgba(255,255,255,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#FFF;
    font-size:14px;
    cursor:pointer;
}

.loginForm .buttonForgot:hover{background:rgba(255,255,255,0.6);}
.loginForm .buttonForgot{
    padding:5px 20px;
    background:rgba(255,255,255,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#FFF;
    font-size:14px;
    cursor:pointer;
}

.modalBackground{
    position:fixed;
    display:none;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:url("/content/images/modalBackground.png");
    cursor:default;
    z-index:100;
}
.progressBar{
    position:fixed;
    display:none;
    left:50%;
    top:50%;
    width:60px;
    height:40px;
    margin-top:-20px;
    margin-left:-30px;
    background:#222222;
    -webkit-border-radius: 12px;
    z-index:200;
}
.progressImage{
    width:16px;
    height:16px;
    background:url(/content/images/progressbar.gif);
    margin:10px auto;
}

.office{
    width:100%;
    min-height:100%;
}
.office .head{
    position:relative;
    top:-90px;
    width:100%;
    height:48px;
    border-bottom:1px solid rgba(255,255,255,0.2);
    /*background:#1e191d;*/
}
.office .head .logo:hover{
    background:rgba(0,0,0,0.4);
    cursor:pointer;
}
.office .head .logo{
    position:relative;
    width:200px;
    padding:0;
}
.office .head .logo .title{
    display:block;
    color:#FFF;
    font-family:segoeui;
    font-size:30px;
    padding:4px 10px;
}
.office .head .logo ul li:hover{
    background:rgba(0,0,0,0.4);
}
.office .head .logo ul li{
    padding:4px 10px;
}
.office .head .logo ul{
    display:none;
    color:#EEEEEE;
    font-family:Arial, sans-serif;
    font-size:12px;
    width:100%;
    margin:0;
    padding:0;
    list-style: none;
    background:rgba(0,0,0,0.6);
}


.office .head .user{
    display:none;
    float:right;
}
.office .head .user .title{
    display:block;
    color:#FFF;
    font-family:Arial, sans-serif;
    font-size:12px;
    padding:4px 10px;
    cursor:default;
}

.office .page{
    display:none;
    height:100%;
    height:500px;
}
.office .page .left{
    float:left;
    width:200px;
}
.office .page .title{
    font-family:segoeui;
    font-size:25px;
    color:#FFF;
    margin:0;
    padding:8px 0 0 20px;
    height:40px;
    border-bottom:1px solid rgba(255,255,255,0.2);
}
.office .page .left ul{
    display:block;
    margin:0;
    padding:10px 0 0 0;
    list-style:none;
    color:#FFF;
    font-family:segoeui;
    font-size:14px;
}
.office .page .left ul li.active{
    border-left:2px solid rgba(243,243,243,0.85);
    cursor:default;
}
.office .page .left ul li:hover{
    background:rgba(0,0,0,0.4);
    cursor:pointer;
}
.office .page .left ul li{
    border-left:2px solid transparent;
    padding: 5px 0 5px 10px;
}
.office .page .right{
    margin:0 0 10px 200px;
    background-color:rgba(243,243,243,0.85);
    height:100%;
    /* Firefox */
    width: -moz-calc(100% - 210px);
    /* WebKit */
    width: -webkit-calc(100% - 210px);
    /* Opera */
    width: -o-calc(100% - 210px);
    /* Standard */
    width: calc(100% - 210px);
    overflow:auto;
}
.office .footer{
    display:none;
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    clear:both;
    color:#EEEEEE;
    text-align:center;
    padding:10px 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}