@import url("/content/css/login.css");
@import url("/content/css/cabinet.css");
@font-face {
	font-family: segoeui;
	src: url('/content/fonts/segoeui.ttf');
}
body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background: url(/content/images/background/grass.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mainData{
    display: block;
    width:100%;
    min-height:100%;
}
.central{
    display:block;
    width:100%;
    min-height:0px;
    margin:0 auto;
}
.head{
    width:100%;
    height:100px;    
}

.modalBackground{
    position:fixed;
    display:none;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:url("/content/images/modalBackground.png");
    cursor:default;
    z-index:100;
}
.progressBar{
    position:fixed;
    display:none;
    left:50%;
    top:50%;
    width:60px;
    height:40px;
    margin-top:-20px;
    margin-left:-30px;
    background:#222222;
    -webkit-border-radius: 12px;
    z-index:200;
}
.progressImage{
    width:16px;
    height:16px;
    background:url(/content/images/progressbar.gif);
    margin:10px auto;
}