body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background: #8199c1;
}
.mainData{
    display: block;
    width:100%;
    min-height:100%;
}
.central{
    display:block;
    width:100%;
    min-height:0px;
    margin:0 auto;
}
.head{
    width:100%;
    height:100px;
    border-bottom:1px solid rgba(255,255,255,0.5);
}
.loginForm{
    display:block;
    position:relative;
    margin:0 auto;
    top:-400px;
    width:400px;
}
.loginForm .logo{
    position:relative;
    background:url(/content/images/office.png);
    width:400px;
    height:94px;
}
.loginForm form{
    display:none;
    width:400px;
    margin:0 auto;
    background: transparent;
    font-family:Arial, sans-serif;
    color:#2b2b2b;
    background:#d8d8d8;
}
.loginForm form .title{
    display:block;
    text-align:center;
    padding:5px 0;
    color:#1e191d;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    cursor:default;
}
.loginForm form table{
    pading:0;
    width:100%;
}
.loginForm form table td.left{text-align:left;}
.loginForm form table td.right{text-align:right;}
.loginForm form input{
    width:250px;
    outline:none;
    border:1px solid #b6b6b6;
    padding:2px 5px;
}
.loginForm form .info{
    display:block;
    font-size:10px;
    font-weight:bold;
    font-family:Arial, sans-serif;
    color:#a90000;
}
.loginForm form .buttonsArea{
    padding:10px 0;
    text-align:center;
}
.loginForm .buttonEnter{
    padding:5px 20px;
    background:#2b2b2b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#FFF;
    font-size:14px;
    cursor:pointer;
}

.loginForm .buttonForgot{
    padding:5px 20px;
    background:#2b2b2b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#FFF;
    font-size:14px;
    cursor:pointer;
}

.modalBackground{
    position:fixed;
    display:none;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:url("/content/images/modalBackground.png");
    cursor:default;
    z-index:100;
}
.progressBar{
    position:fixed;
    display:none;
    left:50%;
    top:50%;
    width:60px;
    height:40px;
    margin-top:-20px;
    margin-left:-30px;
    background:#222222;
    -webkit-border-radius: 12px;
    z-index:200;
}
.progressImage{
    width:16px;
    height:16px;
    background:url(/content/images/progressbar.gif);
    margin:10px auto;
}

.office{
    width:100%;
    min-height:100%;
}
.office .head{
    position:relative;
    top:-94px;
    width:100%;
    height:94px;
    background:#1e191d;
}
.office .logo{
    position:relative;
    background:url(/content/images/office_text.png);
    width:238px;
    height:94px;
}